.hidden
{
	display: none;
}


h1
{
	font-family: 'bold 12px/60px Montserrat', sans-serif;
	font-weight: 400;
	font-size: 24px;
}

h2
{
	font-family: 'Lora', sans-serif;
	font-style: Italic;
	font-weight: 100;
	font-size: 18px;
}

#cursive
{
	font-family: 'Lora', sans-serif;
	font-style: Italic;
	font-weight: 100;
	font-size: 18px;
}
#bold
{
	font: 'bold 12px/60px Montserrat', sans-serif;
	font-style: bold;
	font-weight: 500;
	font-size: 24px;
}

#mainNav ul li, #footerNav ul li
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style-type: none;
}

.button {
	font-family: 'bold 12px/60px Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	background-color: #ffcc33;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.button:hover {
  background-color: #000000;
  color: white;
}



.main_nav, .w3-button
{
	font-family: 'bold 12px/60px Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	background-color: #ffcc33;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.main_nav:hover {
  background-color: #000000;
  color: white;
}
